<h1>About us</h1>
<p>We're working on our One Month Rails project. So far, so good. My goal is to create a site that has a lot of silly headlines that don't lead to any article. Wouldn't that be funny?</p>
